#db {
    display: flex;
    justify-content: center;
    position: relative;
    width: 45%;
    left: 25%;
    height: 10em;
    overflow: hidden;
    border-top: 1px solid yellow;
    border-bottom: 1px solid yellow;
    border-left: 2px solid DarkGray;
    border-right: 2px solid DarkGray;
}

#datenbank-text {
    position: absolute;
    font: 3em 'Frankfurt Regular', sans-serif;
    bottom: 15%;
    paint-order: stroke fill;
}

.dbname {
    position: absolute;
    top: 10%;
    left: 33%;
    height: 2em;
    width: 60%;
    background-color: white;
    color: black;
    border-radius: 0;
    box-shadow: 0.5em 0.5em black;
    padding: 0 1em;
    font-weight: bold;
    -webkit-text-stroke: 0;
}

#sealo {
    position: absolute;
    left: 5%;
    top: 2%;
    font-size: 5em;
    -webkit-text-stroke: 0;
    color: darkred;
}

#sealu {
    position: absolute;
    right: 0%;
    bottom: -5%;
    font-size: 5em;
    -webkit-text-stroke: 0;
    color: darkred;
}

.roteDB {
    background-color: red;
    color: red;
    -webkit-text-stroke: 4px white;
}

.blaugelb1MB {
    background-color: blue;
    color: red;
    -webkit-text-stroke: 4px yellow;
}

.blaugelbUHG {
    background-color: cyan;
    color: red;
    -webkit-text-stroke: 4px yellow;
}

.gelbeDB {
    background-color: yellow;
    color: red;
    -webkit-text-stroke: 4px yellow;
}

.gelbeDB_512k {
    background-color: yellow;
    color: red;
    -webkit-text-stroke: 4px yellow;
}

.lila2MB {
    background-color: purple;
    color: black;
}

.lila2MB #datenbank-text {
    position: absolute;
    font: 2em sans-serif;
    bottom: 70%;
    left: 1%;
    paint-order: stroke fill;
}

.lila2MB .dbname {
    position: absolute;
    left: 10%;
    top: 30%;
    height: 40%;
    width: 40%;
    background-color: white;
    color: black;
    border-radius: 0;
    box-shadow: 0.5em 0.5em black;
    padding: 0 1em;
    font-weight: bold;
    -webkit-text-stroke: 0;
}

.lila2MB #sealo {
    position: absolute;
    left: 75%;
    top: 40%;
    font-size: 5em;
    -webkit-text-stroke: 0;
    color: yellow;
}

.lila2MB #sealu {
    position: absolute;
    right: 85%;
    bottom: 1%;
    font-size: 3em;
    -webkit-text-stroke: 0;
    color: yellow;
}